[submodule "frontend"]
	path = frontend
	url = https://github.com/MarkusTheOrt/f1tv-watch-together-frontend
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/MarkusTheOrt/f1tv-watch-together-backend
	branch = main
